@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #aaa;
    --star-yellow:  #FFBB3A;

}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
html, body {
    background-color: var(--bg-gray);
}
header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}
a{
    display: flex;
    gap: 10px;
    align-items: center;
}

a, a:hover {
    text-decoration: none;
    color: unset;

}

.dsmovie-pagination-container {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.dsmovie-pagination-box {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-pagination-box p {
    margin: 0px;
    font-size: 12px;
    color: var(--color-primary);
    font-weight: 400;
}
.dsmovie-pagination-box button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;


}
.dsmovie-pagination-box button img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(40%) saturate(2574%) hue-rotate(226deg) brightness(86%) contrast(97%);  

}
.dsmovie-pagination-box button:disabled {
    border: 1px solid var(--text-light-gray);
}
.dsmovie-pagination-box button:disabled img {
    filter: unset;
}
.dsmovie-fliphorizontal {
    transform: rotate(180deg);
}

.dsmovie-card {
    width: 100%;
    height: 400px;
     
}

#dsmovie-cardlist {
    padding: 0px 10px;
}
.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0; 
    
}

.dsmoviecard-description {
    background-color: var(--white);
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 0 0 8px 8px;
    height: 190px;

}
.dsmoviecard-description h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.dsmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}


.dsmovie-card-description-bottom img {
    width: 22px;

}

.dsmoviebtn, .dsmoviebtn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: 0;


}


.dsmovie-formcontainer {
    padding: 40px 0;
    max-width: 480px;
}   

.dsmoviecard-formdescription {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}   

.dsmovie-form {
    width: 100%;
}

.dsmoviecard-formdescription h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-formgroup {
    margin-bottom: 20px;
}

.dsmovie-formgroup label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovide-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

